<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="banner">
    <div class="container">
        <section class="rw-wrapper">
            <h1 class="rw-sentence">
                <span>六弦之音，触动你的心弦！</span>
                <div class="rw-words rw-words-1">
                    <span>音乐是朋友 朋友如音乐</span>
                    <span>因音乐而相识 为朋友而音乐</span>
                    <span>我要的吉他就是她</span>
                    <span>与音乐一起飞翔</span>
                    <span>爱乐人的终身伴侣</span>
                    <span>小小的选择，大大的收获</span>
                </div>
                <div class="rw-words rw-words-2">
                    <span>我的音乐梦想</span>
                    <span>能工巧匠</span>
                    <span>巧夺天工</span>
                    <span>指尖轻抚灵魂的声音</span>
                    <span>Music is the soul</span>
                    <span>The guitar is the most beautiful instrument</span>
                </div>
            </h1>
        </section>
    </div>
</div>
</body>
</html>