<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>网上吉他售卖商城</title>
    <link th:href="@{/html/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all"/>
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link th:href="@{/html/css/style.css}" rel="stylesheet" type="text/css" media="all"/>
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Shopin Responsive web template, Bootstrap Web Templates, Flat Web Templates, AndroId Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <!--theme-style-->
    <link th:href="@{/html/css/style4.css}" rel="stylesheet" type="text/css" media="all"/>
    <!--//theme-style-->
    <script th:src="@{/html/js/jquery.min.js}"></script>
    <!--- start-rate---->
    <script th:src="@{/html/js/jstarbox.js}"></script>
    <link rel="stylesheet" th:href="@{/html/css/jstarbox.css}" type="text/css" media="screen" charset="utf-8"/>
    <script type="text/javascript">
        jQuery(function () {
            jQuery('.starbox').each(function () {
                var starbox = jQuery(this);
                starbox.starbox({
                    average: starbox.attr('data-start-value'),
                    changeable: starbox.hasClass('unchangeable') ? false : starbox.hasClass('clickonce') ? 'once' : true,
                    ghosting: starbox.hasClass('ghosting'),
                    autoUpdateAverage: starbox.hasClass('autoupdate'),
                    buttons: starbox.hasClass('smooth') ? false : starbox.attr('data-button-count') || 5,
                    stars: starbox.attr('data-star-count') || 5
                }).bind('starbox-value-changed', function (event, value) {
                    if (starbox.hasClass('random')) {
                        var val = Math.random();
                        starbox.next().text(' ' + val);
                        return val;
                    }
                })
            });
        });
    </script>
    <!---//End-rate---->
</head>
<body>
<header class="header" th:include="header :: header"></header>
<!--banner-->
<div class="banner-top">
    <div class="container">
        <h1>注册</h1>
        <em></em>
        <h2><a th:href="@{/main}">Home</a><label>/</label>注册</a></h2>
    </div>
</div>
<div class="container">
    <div class="login">
        <form th:action="@{/save}" method="post">
            <div class="col-md-6 login-do">
                <div class="login-mail">
                    <input type="text" id="username" name="username" placeholder="Username" required="">
                    <i class="glyphicon glyphicon-user"></i>
                    <span id="message" style="color: red;"></span>
                </div>
                <div class="login-mail">
                    <input type="password" name="password" placeholder="Password" required="">
                    <i class="glyphicon glyphicon-phone"></i>
                </div>
                <div class="login-mail">
                    <input type="text" name="realname" placeholder="Realname" required="">
                    <i class="glyphicon glyphicon-envelope"></i>
                </div>
                <div class="login-mail">
                    <input type="radio" name="sex" value="男"/>男
                    <input type="radio" name="sex" value="女"/>女
                    <i class="glyphicon glyphicon-lock"></i>
                </div>
                <div class="login-mail">
                    <input type="email" id="email" name="email" placeholder="Email" required="">
                    <i class="glyphicon glyphicon-envelope"></i>
                    <span id="message2" style="color: red;"></span>
                </div>
                <div class="login-mail">
                    <input type="text" name="adress" placeholder="Adress" required="">
                    <i class="glyphicon glyphicon-envelope"></i>
                </div>
                <label class="hvr-skew-backward">
                    <input id="reg" type="submit" value="注册">
                </label>
            </div>
            <div class="col-md-6 login-right">
                <h3>巧夺天工</h3>
                <p>Pellentesque neque leo, dictum sit amet accumsan non, dignissim ac mauris. Mauris rhoncus, lectus
                    tincidunt tempus aliquam, odio
                    libero tincidunt metus, sed euismod elit enim ut mi. Nulla porttitor et dolor sed condimentum.
                    Praesent porttitor lorem dui, in pulvinar enim rhoncus vitae. Curabitur tincidunt, turpis ac
                    lobortis hendrerit, ex elit vestibulum est, at faucibus erat ligula non neque.</p>
                <a th:href="@{/login}" class="hvr-skew-backward">登陆</a>

            </div>
            <div class="clearfix"></div>
        </form>
    </div>
</div>
<p th:text="${message}"></p>
<footer class="footer" th:include="footer :: footer"></footer>
<script type="text/javascript">
    $("#username").blur(function () {
        var username = document.getElementById("username").value;
        $.ajax({
            type: 'get',
            url: '/nameCheck?username=' + username,
            success: function (data) {
                document.getElementById("message").innerHTML = data.message;
                if (data.code == 200) {
                    $("#reg").disabled = false;
                }
            },
            error: function (err) {
                alert('出现错误了!!!');
            }
        });
    });
    $("#email").blur(function () {
        var email = document.getElementById("email").value;
        $.ajax({
            type: 'get',
            url: '/emailCheck?email=' + email,
            success: function (data) {
                document.getElementById("message2").innerHTML = data.message;
                if (data.code == 200) {
                    $("#reg").disabled = false;
                }
            },
            error: function (err) {
                alert('出现错误了!!!');
            }
        });
    });

</script>
</body>
</html>